# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Env vars
.env
.env.*

# Migrations (optional, depends on your workflow)
**/migrations/*.py
!**/migrations/__init__.py
